.photo-item img {
  width: 100%; /*100% do container que está inserido*/
}

#home .photo-item h2 {
  margin-bottom: 0.2em;
}

.photo-author {
  text-align: left;
}

.photo-author a {
  font-weight: bold;
}